<link rel="stylesheet" th:href="@{CSS/index.css}"></link>
<link rel="stylesheet" th:href="@{CSS/sidenav.css}"></link>
<link rel="stylesheet" th:href="@{/lib/bootstrap-4.6.0/css/bootstrap.min.css}"></link>
<link rel="stylesheet" th:href="@{/lib/datatablecss/datatables.min.css}"></link>
<link rel="stylesheet" th:href="@{/CSS/accounttable.css}"></link>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
<script type="text/javascript" th:src="@{/JS/headerctx.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery-3.5.1/jquery.min.js}"></script>