<!-- 
These are the four round buttons in the homepage or dashboard page
-->
<style>
.box {
    padding: 0 5px 0 5px;
}
#round {
    border-radius: 25px;
    border: 2px solid #66CC00;
    padding: 20px;
    width: 253px;
    height: 111px;
    border-collapse: separate;
    border-spacing: 15px;
}
#space {
    border-collapse: separate;
    border-spacing: 15px;
}
</style>
<!-- Col Section -->
<div>
    <div class="row">
        <div class="col-sm-3  " id="space" >
            <div class="well" id="round">
                <img src="images/users.png" name="holder" style="width: 20%" align="right" border="0" alt=""></img>
                <h4>Users</h4>
            </div>
        </div>
        <div class="col-sm-3" id="space" >
            <div class="well" id="round">
                <img src="images/accounts.png" name="holder" style="width: 20%" align="right" border="0" alt=""></img>
                <h4>Accounts</h4>
            </div>
        </div>
        <div class="col-sm-3" id="space" >
            <div class="well" id="round">
                <img src="images/positions.png" name="holder" style="width: 20%" align="right" border="0" alt=""></img>
                <h4>Positions</h4>
            </div>
        </div>
        <div class="col-sm-3" id="space" >
            <div class="well" id="round">
                <img src="images/sites.png" name="holder" style="width: 20%" align="right" border="0" alt=""></img>
                <h4>Sites</h4>
            </div>
        </div>
    </div>
</div>
<hr></hr>