<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<style>
.button {
    background-color: #7db458; /* Green */
    border: none;
    color: #000000;
    padding: 20px;
    text-align: center;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button4 {
    border-radius: 12px;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
</style>
<h4 th:text="${welcome}"></h4>
<div align="center">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <!--
    <h2 th:text="${#authentication.getPrincipal().getUsername()}" id="username" ></h2>
    <h4>Welcome</h4>
    <div id="userdetails">
        <span th:text="${#authentication.getPrincipal().getFirstname()}"></span>
        <span th:text="${#authentication.getPrincipal().getLastname()}"></span>
    </div>
    <br/>
    -->
    <div class="main-menu-header">
        <input type="text" placeholder="Search"class="menu-search form-control round"></input>
    </div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <form th:action="@{/}">
        <button class="button button4 button2" type="submit">
            <i class="fa fa-home"></i>Home
        </button>
        <br/>
    </form>
    <hr></hr>
    <form th:action="@{/listaccount}" method="GET">
        <button class="button button4 button2" type="submit">
            <i class="fa fa-bars"></i>Accounts
        </button>
        <br/>
    </form>
    <hr></hr>
    <form th:action="@{/listposition}" method="GET">
        <button class="button button4 button2" type="submit">
            <i class="fa fa-folder"></i>Positions
        </button>
        <br/>
    </form>
    <hr></hr>
    <form th:action="@{/sites}" method="GET">
        <button class="button button4 button2" type="submit">
            <i class="fa fa-plane"></i>Sites
        </button>
        <br/>
    </form>
    <hr></hr>
    <a th:href="@{/admin}" class="btn btn-lg btn-success">I'm Admin</a>
    <!--
    <form th:action="@{/imagewindow}">
        <button class="button button4 button2" type="submit">
            <i class="fa fa-image"></i>Images
        </button>
        <br/>
    </form>
    <hr></hr>
    -->
    <form th:action="@{/allusers}" method="GET">
        <button class="button button4 button2" type="submit">
            <i class="fa fa-users"></i>Users
        </button>
        <br/>
    </form>
    <hr></hr>
    <form th:action="@{/logout}">
        <button class="button button4 button2" type="submit">
            <i class="fa fa-close"></i>Log Out
        </button>
        <br/>
    </form>
    <hr></hr>
</div>