<!--
This is fragments style of every modal, only use in modals
-->
<style>
.bar{
    background-color:#4b286d;
}
  
.close{
    color: #ffffff;
    size:large;
}

input[type=text], select {
    width: 100%; 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
<!--
<div class="bar">
    <button type="button" class="close" data-dismiss="modal">&times;</button>	
    <div class="row">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>
-->					