<!-- Bootstrap -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/nprogress/nprogress.js}"></script>
<!-- Chart.js -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/Chart.js/dist/Chart.min.js}"></script>
<!-- jQuery Sparklines -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/jquery-sparkline/dist/jquery.sparkline.min.js}"></script>
<!-- Flot -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/Flot/jquery.flot.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/Flot/jquery.flot.pie.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/Flot/jquery.flot.time.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/Flot/jquery.flot.stack.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/Flot/jquery.flot.resize.js}"></script>
<!-- Flot plugins -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/flot.curvedlines/curvedLines.js}"></script>
<!-- DateJS -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/DateJS/build/date.js}"></script>
<!-- Switcher -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/switchery/dist/switchery.min.js}"></script>
<!-- bootstrap-daterangepicker -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/moment/min/moment.min.js}"></script>
<!-- jQuery Tags -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
<!-- DateRange Picker -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- Datatables -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
<!-- Tag Inputs -->
<script th:src="@{/lib/gentelella-1.4.0/vendors/bootstrap-tagsinput/src/js/bootstrap-tagsinput.js}"></script>
<!-- Custom Theme Scripts -->
<script th:src="@{/js/admin-custom.js}"></script>
<script th:src="@{/lib/gentelella-1.4.0/build/js/custom.js}"></script>