<head th:insert="pages/fragments/admin_head"></head>
<div class="container body">
    <div class="main_container">
        <div th:insert="pages/admin :: left_col"></div>
        <div th:insert="pages/admin :: top_nav"></div>
        <!-- Page Content -->
        <div class="right_col" role="main">
            <div class="main-content">
                <!-- Title Section -->
                <div class="page-title">
                    <div class="title_left"></div>
                    <div class="title_right"></div>
                </div>
                <!-- Title Section -->
                <div class="clearfix"></div>
                <!-- Content - Per Id -->
                <div class="row" th:if="${account?.ACCOUNT_ID != null || create_form == 'create_form'}">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 th:if="${account?.ACCOUNT_ID != null}">UPDATE 
                                    <small>information</small>
                                </h2>
                                <h2 th:if="${create_form == 'create_form'}">
                                    <strong>New Account</strong>
                                    <small>Please fill the required (<code>*</code>) information</small>
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <!--
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </li>
                                    -->
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br/>
                                <div class="col-md-12 col-sm-12 col-xs-12" th:if="${message != null}">
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">x</span>
                                        </button>
                                        <!--
                                        <strong th:text="${message}"></strong>
                                        <p th:text="${account?.ACCOUNT_NAME} + is now created "></p>
                                        -->
                                    </div>
                                </div>
                                <form th:action="@{/admin/accounts/save}" method="POST" class="form-horizontal form-label-left">
                                    <!-- Serves as ID Mapper for Account  -->
                                    <input type="hidden" th:value="${account?.ACCOUNT_ID}" name="ACCOUNT_ID"></input>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <div>
                                                        <div th:if="${clonedImagePath == null}">
                                                            <img class="imageLogo img-thumbnail" alt="no image" th:src="@{/images/no-image.png}"></img>
                                                            <input class="imagePath" type="hidden" name="ACCOUNT_IMAGE_PATH"></input>
                                                        </div>
                                                        <div th:if="${clonedImagePath}">
                                                            <img class="imageLogo img-thumbnail" alt="no image" th:src="${clonedImagePath}"></img>
                                                            <input class="imagePath" type="hidden" name="ACCOUNT_IMAGE_PATH" th:value="${clonedImagePath}"></input>
                                                        </div>
                                                        <a type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#chooseAnImage" style="width: 100%">Choose an image</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label class="control-label required">Name 
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div th:if="${clonedAccountName == null}">
                                                        <input type="text" required="required"class="form-control" th:value="${account?.ACCOUNT_NAME}" name="ACCOUNT_NAME"></input>
                                                    </div>
                                                    <div th:if="${clonedAccountName}">
                                                        <input type="text" required="required"class="form-control" th:value="${clonedAccountName}" name="ACCOUNT_NAME"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LOCATION">Location
                                                    <span class="required"></span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div th:if="${clonedLoc == null}">
                                                        <input type="text" class="form-control col-md-7 col-xs-12" th:value="${account?.LOCATION}" name="LOCATION"></input>
                                                    </div>
                                                    <div th:if="${clonedLoc}">
                                                        <input type="text" class="form-control col-md-7 col-xs-12" th:value="${clonedLoc}" name="LOCATION"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Line of Business
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div th:if="${clonedLob == null}">
                                                        <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="LOB" th:value="${account?.LOB}"></input>
                                                    </div>
                                                    <div th:if="${clonedLob}">
                                                        <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="LOB" th:value="${clonedLob}"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Operating Hours</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div th:if="${clonedOperHrs == null}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${account?.OPERATING_HOURS}" name="OPERATING_HOURS"></input>
                                                    </div>
                                                    <div th:if="${clonedOperHrs}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${clonedOperHrs}" name="OPERATING_HOURS"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Work Type</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div th:if="${clonedWorkType == null}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${account?.WORK_TYPE}" name="WORK_TYPE"></input>
                                                    </div>
                                                    <div th:if="${clonedWorkType}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${clonedWorkType}" name="WORK_TYPE"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">TM Tasks
                                                    <span class="required"></span>
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedTmTask == null}">
                                                        <textarea type="text" id="first-name" class="form-control col-md-7 col-xs-12" th:text="${account?.TM_TASK}" name="TM_TASK" rows="4"></textarea>
                                                    </div>
                                                    <div th:if="${clonedTmTask}">
                                                        <textarea type="text" id="first-name" class="form-control col-md-7 col-xs-12" th:text="${clonedTmTask}" name="TM_TASK" rows="4"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Trainings</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedTrainings == null}">
                                                        <input id="tags_trainings" type="text" class="tags form-control" th:value="${#strings.replace(account?.TRAININGS, '~',',')}" name="TRAININGS"></input>
                                                    </div>
                                                    <div th:if="${clonedTrainings}">
                                                        <input id="tags_trainings" type="text" class="tags form-control" th:value="${clonedTrainings}" name="TRAININGS"></input>
                                                    </div>
                                                    <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Workday Job Profile</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedWorkdayJobProfile == null}">
                                                        <div style="width: auto;min-height: 100px;height: 100px;border: 1px solid #CCC;background: #FFF;padding: 6px 6px 0;width: 100%;overflow-y: auto;">
                                                            <input type="text" id="workdayJobProfileInput" data-role="tagsinput" placeholder="Add tags" th:value="${#strings.replace(account?.WORKDAY_JOB_PROFILE, '~',',')}" name="WORKDAY_JOB_PROFILE"></input>
                                                        </div>
                                                    </div>
                                                    <div th:if="${clonedWorkdayJobProfile}">
                                                        <div style="width: auto;min-height: 100px;height: 100px;border: 1px solid #CCC;background: #FFF;padding: 6px 6px 0;width: 100%;overflow-y: auto;">
                                                            <input type="text" id="workdayJobProfileInput" data-role="tagsinput" placeholder="Add tags" th:value="${clonedWorkdayJobProfile}" name="WORKDAY_JOB_PROFILE"></input>
                                                        </div>
                                                    </div>
                                                    <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Education
                                                    <span class="required"></span>
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedEduc == null}">
                                                        <input type="text" class="form-control col-md-7 col-xs-12" th:value="${account?.EDUCATION}" name="EDUCATION"></input>
                                                    </div>
                                                    <div th:if="${clonedEduc}">
                                                        <input type="text" class="form-control col-md-7 col-xs-12" th:value="${clonedEduc}" name="EDUCATION"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Skills Premium</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedPrem == null}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${account?.SKILLS_PREMIUM}" name="SKILLS_PREMIUM"></input>
                                                    </div>
                                                    <div th:if="${clonedPrem}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${clonedPrem}" name="SKILLS_PREMIUM"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">BPO Experience</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedExp == null}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${account?.BPO_EXP}" name="BPO_EXP"></input>
                                                    </div>
                                                    <div th:if="${clonedExp}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${clonedExp}" name="BPO_EXP"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Business Vertical</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedBusVertical == null}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${account?.BUSINESS_VERTICAL}" name="BUSINESS_VERTICAL"></input>
                                                    </div>
                                                    <div th:if="${clonedBusVertical}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" th:value="${clonedBusVertical}" name="BUSINESS_VERTICAL"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Visibility</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label th:if="${account?.CATEGORY != null && account?.CATEGORY != 'NA'}">
                                                        <input type="checkbox" checked class="js-switch" id="CATEGORY" name="CATEGORY" value="on"></input>
                                                        <span id="checkBoxValue">On</span>
                                                    </label>
                                                    <label th:if="${account?.CATEGORY == null || account?.CATEGORY != 'CC' || account?.CATEGORY == 'NA'}">
                                                        <input type="checkbox" class="js-switch" name="CATEGORY" id="CATEGORY" value="off"></input>
                                                        <span id="checkBoxValue">Off</span>
                                                    </label>
                                                    <span id="checkBoxValue"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Job Requisition</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedJobReq == null}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" name="JOB_REQ" th:value="${account?.JOB_REQ}"></input>
                                                    </div>
                                                    <div th:if="${clonedJobReq}">
                                                        <input class="form-control col-md-7 col-xs-12" type="text" name="JOB_REQ" th:value="${clonedJobReq}"></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Description
                                                    <span class="required"></span>
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedDesc == null}">
                                                        <textarea class="form-control col-md-7 col-xs-12" type="text" th:text="${account?.DESCRIPTION}" name="DESCRIPTION" rows="4"></textarea>
                                                    </div>
                                                    <div th:if="${clonedDesc}">
                                                        <textarea class="form-control col-md-7 col-xs-12" type="text" th:text="${clonedDesc}" name="DESCRIPTION" rows="4"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Skills</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <div th:if="${clonedSkills == null}">
                                                        <input id="tags_skills" type="text" class="tags form-control" th:value="${#strings.replace(account?.SKILLS, '~',',')}" name="SKILLS"></input>
                                                    </div>
                                                    <div th:if="${clonedSkills}">
                                                        <input id="tags_skills" type="text" class="tags form-control" th:value="${clonedSkills}" name="SKILLS"></input>
                                                    </div>
                                                    <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                            <button type="submit" class="createBtn btn btn-success">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content - Per Id -->
                <script type="text/javascript">
                    /* Removes spaces between tags */
                    $('.createBtn').click(function(){
                        var workdayJobProfiles = $('#workdayJobProfileInput').val().trim();
                        workdayJobProfiles = workdayJobProfiles.replace(/\s*,\s*/g, ",");
                        $('#workdayJobProfileInput').val(workdayJobProfiles);
                    });
                    $(document).ready(function(){
                        $("#CATEGORY").click(function(){
                            if($(this).is(":checked")){
                                $("#checkBoxValue").text("On");
                            }
                            else
                                $("#checkBoxValue").text("Off");
                        });
                    });
                </script>
                <div class="clearfix"></div>
            </div>
            <!--div.main-content-->
            <div class="clearfix"></div>
        </div>
        <!-- div.right_col -->
        <!-- Page Content -->
        <div th:replace="fragments/modals/chooseimage"></div>
    </div>
</div>
<div th:insert="pages/admin :: footer"></div>
<div th:insert="pages/fragments/admin_foot"></div>