<head th:insert="pages/fragments/admin_head"></head>
<style>
  .nav.navbar-right.panel_toolbox {
    margin-top: 6px;
  }
</style>
<div class="container body">
    <div class="main_container">
        <div th:insert="pages/admin :: left_col"></div>
        <div th:insert="pages/admin :: top_nav"></div>
        <!-- Page Content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left"></div>
                    <div class="title_right"></div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <ul class="nav navbar-left panel_toolbox">
                                    <li>
                                        <div class="title_left">
                                            <h3>
                                                <strong>Sites</strong>
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="btn btn-success" data-toggle="modal" data-target="#addsite" style="color: white;">
                                            <i class="fa fa-plus" style="font-weight: 100;"></i> New Site
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="table-responsive">
                                    <table id="datatable" class="userspage table table-striped table-bordered" style="width: 25%">
                                        <thead>
                                            <tr>
                                                <th class="columnhidden">UserId</th>
                                                <th>Site</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr th:each="site : ${sitelist}">
                                                <td class="columnhidden"></td>
                                                <td th:text="${site.SITE_NAME}"></td>
                                                <td>
                                                    <form th:action="@{/deletesite}" method="POST">
                                                        <input type="hidden" name="siteId" th:value="${site.SITE_ID}"></input>
                                                        <input type="hidden" name="siteName" th:value="${site.SITE_NAME}"></input>
                                                        <button class="btn btn-danger">Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event History - All -->
                <!-- Event History - All -->
            </div>
        </div>
        <!-- div.right_col -->
        <!-- /page content -->
    </div>
    <!-- div.main_container -->
</div>
<!-- div.container_body -->
<div th:insert="pages/admin :: footer"></div>
<div th:replace="fragments/modals/AddNewSite"></div>
<div th:replace="pages/fragments/admin_foot"></div>