<head th:insert="pages/fragments/admin_head"></head>
<div class="container body">
	<div class="main_container">
		<div th:insert="pages/admin :: left_col"></div>
		<div th:insert="pages/admin :: top_nav"></div>

		<!-- Page Content -->
		<div class="right_col" role="main">
			<div class="main-content">
			
				<!-- Title Section -->
				<div class="page-title">
					<div class="title_left"></div>
					<div class="title_right"></div>
				</div>
				<!-- Title Section -->
				
				<div class="clearfix"></div>
				
					<!-- Content - All -->
					
					<!-- Content - All -->
						
				</div><!--div.main-content-->
				
				<div class="clearfix"></div>


		</div><!-- div.right_col -->
		<!-- Page Content -->
</div>
</div>
<div th:insert="pages/admin :: footer"></div>
<div th:insert="pages/fragments/admin_foot"></div>
