<div th:insert="pages/fragments/admin_head"></div>
	<div class="container body">
		<div class="main_container">
			<div th:insert="pages/admin :: left_col"></div>
			<div th:insert="pages/admin :: top_nav"></div>
			
			<!-- main content -->
				<div class="right_col" role="main">
						<a class="btn btn-warning" th:href="@{'/admin/positions'}">Back to Position List</a>
				
						<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<table class="table table-striped" id="tablepositionmaps">
									<thead>
										<tr>
											<td><h6>Job Title</h6></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${positionmaps.JOB_PROFILE}"></td>
											<td><button class="btn btn-info" data-toggle="modal"
													data-target="#addpositionmapmodal" id="addmapbtn">Add
													Mapping</button></td>
										</tr>
									</tbody>
								</table>	
							</div>
							
							<div class="x_content">
								<div class="table-responsive">
								<script>
									$(document).ready(function() {
										$('#logs_datatables_positions')
										.DataTable();	
									});
								</script>
								<table id="logs_datatables_positions"
									class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Question</th>
											<th>Answer</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
									<tr th:each="question1maps : ${positionmaps.positionAnswers}">
									
										<td th:text="${question1maps.questions.QUESTION}"></td>
										<td th:text="${question1maps.answer.ANSWER}"></td>
										<td>
											<form th:action="@{/deletepositionmap}" method="post">
												<input type="hidden" name="POSITION_ID"
													th:value="${positionmaps.POSITION_ID}"> <input
													type="hidden" name="QUESTION_ANSWER_ID"
													th:value="${question1maps.QUESTION_ANSWER_ID}">
												<button class="btn btn-danger">Delete</button>
											</form>
										</td>
									</tr>
									</tbody>
								</table>
								</div>
							</div>
							
						</div>
					</div>
					
	<!-- 				Event History - All
				<div class="col-md-12">
						<h3 class="text-muted font-13 m-b-30">
							Events History - All
						</h3>
						<script>
							$(document).ready(function() {
								$('#logs_datatables_positions_all')
								.DataTable({
									"order" : [2, 'desc']
								});	
							});
						</script>
						<table id="logs_datatables_positions_all"
							class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Activity</th>
									<th>Altered By</th>
									<th>Timestamp</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
							</tbody>
						</table>
					</div>
				Event History - All -->
				
				</div>
				</div>
			<!-- main content -->
			
		</div>
	</div>
<div th:insert="pages/admin :: footer"></div>
<div th:replace="fragments/modals/addpositionmap"></div>
<div th:insert="pages/fragments/admin_foot"></div>
