<div class="container">
    <div class="modal fade" id="editdetails" role="dialog">
        <div class="modal-dialog modal-lg">
            <div th:replace="fragments/stylemodal"></div>
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Account Details (shown in the gallery and results)</h5>
                    <hr/>
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form th:action="@{/updateaccount}" method="post" enctype="multipart/form-data">
                                <div class="modal-header">
                                    <div class="modal-title">
                                        <h3>ACCOUNT DETAILS</h3>
                                        <small>This data are shown in the gallery and results</small>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <div class="columnhidden">
                                        <p>Changed By
                                            <span>
                                                <input type="text" id="created_by" name="created_by" th:value="${lastsavedby}"/>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <h6>Delete Value to disable Account</h6>
                                    <div class="form-group row">
                                        <label class="col-md-2 font-weight-bold text-right">Category</label>
                                        <div class="col-md-5">
                                            <select name="CATEGORY" id="category">
                                                <option value="CC">Active</option>
                                                <option value="NA">In-Active</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr/>
                                    <!-- hidden -->
                                    <div class="columnhidden">
                                        <p>Account Id
                                            <span>
                                                <input type="text" id="account_id" name="ACCOUNT_ID"/>
                                            </span>
                                        </p>
                                    </div>
                                    <!-- hidden -->
                                    <!-- Row #1 -->
                                    <div class="form-group row">
                                        <label class="col-md-2 text-right font-weight-bold">Account Name</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" id="account_name" name="ACCOUNT_NAME"/>
                                        </div>
                                    </div>
                                    <!-- Row #2 -->
                                    <div class="form-row">
                                        <div class="col col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 text-right font-weight-bold">Location</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="location" name="LOCATION"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 text-right font-weight-bold">Line of Business</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="lob" name="LOB"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row #3 -->
                                    <div class="form-row">
                                        <div class="col col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 text-right font-weight-bold">Business Vertical</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="business_vertical" name="BUSINESS_VERTICAL"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 text-right font-weight-bold">Work Type</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="work_type" name="WORK_TYPE"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- hidden columns in table-->
                                    <!-- Row #4 -->
                                    <div class="form-group row">
                                        <div class="col-md-2 card">
                                            <img class="card-img-top" id="accountImage"/>
                                        </div>
                                        <div class="col-md-5">
                                            <input class="form-control" type="text" id="image_path" name="ACCOUNT_IMAGE_PATH" readonly="readonly"/>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <input id="fileFetcher" type="file" name="file"/>
                                            <!-- <a class="btn btn-primary" th:href="@{/uploadpage}">Upload Image</a> -->
                                        </div>
                                    </div>
                                    <!-- Row #5 -->
                                    <div class="form-row">
                                        <div class="col col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 text-right font-weight-bold">Hours of Operation</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="operating_hours" name="OPERATING_HOURS"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 text-right font-weight-bold">Educational Requirements</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="education" name="EDUCATION"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row #6 -->
                                    <div class="form-row">
                                        <div class="col col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 text-right font-weight-bold">BPO Experience</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" id="bpo_exp" name="BPO_EXP"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-md-6">
                                        </div>
                                    </div>
                                    <!-- Row #7 -->
                                    <div class="form-group row">
                                        <label class="col-md-2 font-weight-bold text-right">Account Description</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="6" id="description" name="DESCRIPTION"></textarea>
                                        </div>
                                    </div>
                                    <!-- Row #8 -->
                                    <div class="form-group row">
                                        <label class="col-md-2 font-weight-bold text-right">Member Tasks</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="4" id="tm_task" name="TM_TASK"></textarea>
                                        </div>
                                    </div>
                                    <!-- Row #9 -->
                                    <div class="form-group row">
                                        <label class="col-md-2 font-weight-bold text-right">Skills</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="4" id="skills" name="SKILLS"></textarea>
                                        </div>
                                    </div>
                                    <!-- Row #10 -->
                                    <div class="form-group row">
                                        <label class="col-md-2 font-weight-bold text-right">Trainings</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="6" id="trainings" name="TRAININGS"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>