<div class="container">
    <div class="modal fade" id="addsite" role="dialog">
        <div class="modal-dialog modal-lg">
            <div th:replace="fragments/stylemodal"></div>
            <div class="modal-content">
                <!--
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                -->
                <div class="modal-body">
                    <form th:action="@{/addnewsite}" method="POST">
                        <input type="text" placeholder="Enter site name here" id="site1" name="SITE_NAME"></input>
                        <input type="submit" value="Save" class="btn btn-success"></input>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>