<!-- Modal -->
<div id="addposition" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div th:replace="fragments/stylemodal"></div>
		<!-- Modal content-->
		<div class="modal-content">
			<!--
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            -->
			<div class="modal-body">
				<form th:action="@{/addposition}" method="post" enctype="multipart/form-data">
					<p>Position
						<span>
							<input type="text" id="jobprofile2" name="JOB_PROFILE"></input>
						</span>
					</p>
					<div>
						<p>Category
							<span>
								<select id="category2" name="CATEGORY">
									<option value="DS">Digital Services</option>
									<option value="ST">Support Role</option>
								</select>
							</span>
						</p>
					</div>
					<div class="columnhidden">
						<p>Changed By
							<span>
								<input type="text" name="CREATED_BY" th:value="${modify_by}"></input>
							</span>
						</p>
					</div>
					<p>Department
						<span>
							<input type="text" id="department2" name="DEPARTMENT"></input>
						</span>
					</p>
					<p>Support Type
						<span>
							<input type="text" id="supporttype2" name="SUPPORT_TYPE"></input>
						</span>
					</p>
					<p>Image Path</p>
					<div class="form-group row">
						<input class="form-control" type="text" id="image_path_positionpage" name="IMAGE_PATH" readonly="readonly"></input>
						<div class="col-md-5 text-right">
							<input id="fileFetcher_positions" type="file" name="file"></input>
							<!--
                            <a class="btn btn-primary" th:href="@{/uploadpage}">Upload Image</a>
                            -->
						</div>
					</div>
					<p>Certification
						<span>
							<input type="text" id="certification2" name="CERTIFICATION"></input>
						</span>
					</p>
					<p>Educational Background
						<span>
							<input type="text" id="educational2" name="EDUCATIONAL_BACKGROUND"></input>
						</span>
					</p>
					<p>Experience Required
						<span>
							<input type="text" id="exp2" name="EXPERIENCE_REQUIRED"></input>
						</span>
					</p>
					<p>Other Skills
						<span>
							<textarea class="form-control rounded-0" rows="4" id="otherskills2" name="OTHER_SKILLS"></textarea>
						</span>
					</p>
					<p>Skills Required
						<span>
							<textarea class="form-control rounded-0" rows="4" id="skillsreq2" name="SKILLS_REQUIRED"></textarea>
						</span>
					</p>
					<p>Description
						<span>
							<textarea class="form-control rounded-0" rows="4" id="description2" name="DESCRIPTION"></textarea>
						</span>
					</p>
					<p>Trainings
						<span>
							<textarea class="form-control rounded-0" rows="4" id="trainings2" name="TRAININGS"></textarea>
						</span>
					</p>
					<p>Job Requisition
						<span>
							<input type="text" id="job_req2" name="JOB_REQ"></input>
						</span>
					</p>
					<hr/>
					<input type="submit" value="Save" class="btn btn-success"></input>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
