<!-- The Modal -->
<div class="modal" id="editmapping">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <input type="number" id="accountmapquestionid" name="QUESTION_ID"></input>
                <br/>
                <br/>
                <h5>Question</h5>
                <input type="text" id="acountmapquestion" name="QUESTION"></input>
                <br/>
                <br/>
                <input type="number" id="accountmapanswerid" name="ANSWER_ID"></input>
                <br/>
                <br//>
                <h5>Answer</h5>
                <input type="text" id="accountmapanswer" name="ANSWER"></input>
                <br/>
                <br/>
                <button  class="btn btn-success">Save</button>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>